{% extends '::base.html.twig' %}

{% block main %}
{% for successMessage in app.session.flashbag.get('success-notice') %}
<div class="alert alert-success">
        {{ successMessage }}
</div>
{% endfor %}
{% for errorMessage in app.session.flashbag.get('error-notice') %}
<div class="alert alert-danger">
        {{ errorMessage }}
</div>
{% endfor %}
    {% if posts %}
        {% for post in posts %}
<h2>{{ post.getTitle() }}</h2>
<p>{{ post.getShortContent()|raw }}</p>
<a href="{{ path('homepage_blog_post', {'link': post.getLink()}) }}" />czytaj więcej</a>
        {% endfor %}
<div class="pagination-container">
    <ul class="pager">
                {% if hasPreviousPosts %}
        <li>
            <a class="pull-left" href="{{ path('homepage_blog_index_page', {'page': currentPage-1}) }}" >Poprzednie wpisy</a>
        </li>
                {% endif %}
                {% if hasNextPosts %}
        <li>
            <a class="pull-right" href="{{ path('homepage_blog_index_page', {'page': currentPage+1}) }}" >Następne wpisy</a>
        </li>
                {% endif %}
    </ul>
</div><!--end container -->
    {% else %}
<p>Nie ma postów</p>
    {% endif %}
{% endblock %}
