{% extends '::base.html.twig' %}

{% block main %}
<h2>{{ user.getLogin() }}</h2>
{{ form_start(form) }}
    {{ form_errors(form) }}
<table>
    <tr>
        <td>Dołączył:</td>
        <td>{{ user.getCreatedOn()|date("d.m.Y H:i:s") }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.firstName) }}</td>
        <td>{{ form_widget(form.firstName) }}
        {{ form_errors(form.firstName) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.lastName) }}</td>
        <td>{{ form_widget(form.lastName) }}
        {{ form_errors(form.lastName) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.email) }}</td>
        <td>{{ form_widget(form.email) }}
        {{ form_errors(form.email) }}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>{{ form_widget(form.save) }}</td>
    </tr>
</table>
{{ form_end(form) }}
{% endblock %}
