<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="http://nerdlab.pl/rss.xml" rel="alternate" type="application/rss+xml" 
              title="NerdLab.pl - wszystko, co nerdowskie!" />

        <title>{% block title %}Blog{% endblock %} - NerdLab.pl</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block metatags %}{% endblock %}

        <!-- main css stylesheet creating with  -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}

        <meta name="robots" content="{% block robots %}index, follow{% endblock %}"/>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="wrap">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('nerdlab_blog_index') }}"><span class="nerd-logo"></span> NerdLab.pl</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kategorie <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                            {{ render(controller('NerdLabBlogBundle:Blog:categoryList')) }}
                                </ul></li>
                            <li><a href="{{ path('nerdlab_blog_contact') }}">Kontakt</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ app.user.getNameToShow() }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('nerdlab_blog_user_view',{'login' : app.user.username}) }}">Twój profil</a></li>
                                    <li><a href="{{ path('nerdlab_blog_user_edit',{'login' : app.user.username}) }}">Edytuj</a></li>
                                {% if is_granted('ROLE_AUTHOR') %}
                                    <li><a href="{{ path('nerdlab_blog_post_create') }}">Napisz post</a></li>
                                    <li><a href="{{ path('nerdlab_blog_upload_image') }}">Dodaj obrazek</a></li>
                                {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Wyloguj się</a></li>
                                </ul>
                            </li>
                                {% else %}
                            <li>
                                <a href="{{ path('nerdlab_blog_user_create') }}" >
                                    Zarejestruj się
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('login') }}" >
                                    Zaloguj się
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>

            <div class="container">
                {% block container %}
                <div class="row">
                    <div id="main-wrap" class="col-lg-8 col-md-8 ">
                    {% block main %}{% endblock %}
                    </div>
                    <aside id="sidebar" class="col-lg-4 col-md-4">
                        <a class="rss" href="{{ url('nerdlab_blog_rss') }}">Bądź na bieżąco!</a>
                   {{ render(controller('NerdLabBlogBundle:Post:latestPosts', {'max': 3})) }}
                   {{ render(controller('NerdLabBlogBundle:Post:latestComments', {'max': 3})) }}
                    </aside>
                </div><!--/row-->
                {% endblock %}
            </div><!--/.container-->
        </div>
        <footer id="footer">
            <div class="container">
                <div class="col-xs-8">
                    <p>&copy;2013 Paweł Winiecki | <a href="{{ path('nerdlab_blog_cookies') }}" >Polityka cookies.</a></p>
                </div>
                <div class="col-xs-4">
                    <span id="github-btn" class="github-btn github-watchers pull-right">
                        <a id="gh-btn" class="gh-btn" target="_blank" href="https://github.com/pawel-winiecki/nerdlab-blog-engine/">
                            <span class="gh-ico"></span>
                            <span id="gh-text" class="gh-text">Watch</span>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('js/cookies.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-46766053-1', 'nerdlab.pl');
            ga('send', 'pageview');

        </script>
    </body>
</html>
