<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}Blog{% endblock %} - Winiecki Homepage</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}

        <meta name="author" content="{% block author %}Paweł Winiecki{% endblock %}"/>
        <meta name="robots" content="index, follow"/>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage_blog_index') }}">Paweł Winiecki Homepage</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('homepage_blog_index') }}">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="navbar-right navbar-form btn-group">
                        <a href="{{ path('homepage_blog_user_view',{'login' : app.user.username}) }}" class="btn btn-danger">{{ app.user.username }}</a>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('homepage_blog_user_edit',{'login' : app.user.username}) }}">Edytuj</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">Wyloguj się</a></li>
                        </ul>
                    </div>
                        {% else %}
                    <div class="navbar-right navbar-form btn-group">
                        <a href="{{ path('login') }}" class="btn btn-success">
                            <i class="icon-white icon-remove"></i>
                            Zaloguj się
                        </a>
                    </div>
                        {% endif %}
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <div class="row">
                    {% block main %}{% endblock %}
            </div><!--/row-->
        </div><!--/.container-->
        <hr />
        <footer>
            <div class="container">
                <p>&copy;2013 Paweł Winiecki</p>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
