{% extends '::base.html.twig' %}
{% form_theme form 'HomepageBlogBundle:Form:fields.html.twig' %}
{% block robots %}noindex, follow{% endblock %}

{% block title %}Kontakt{% endblock %}

{% block main %}
{% for successMessage in app.session.flashbag.get('success-notice') %}
<div class="alert alert-success">
        {{ successMessage }}
</div>
{% endfor %}
{% for errorMessage in app.session.flashbag.get('error-notice') %}
<div class="alert alert-danger">
        {{ errorMessage }}
</div>
{% endfor %}
{{ form_start(form) }}
{{ form_errors(form) }}
<legend>{{ legend }}</legend>
{{ form_end(form) }}
{% endblock %}
