{% extends '::base.html.twig' %}
{% form_theme form 'HomepageBlogBundle:Form:comment-fields.html.twig' %}

{% block title %}{% if post %}{{ post.getTitle() }}{% endif %}{% endblock %}
{% block description %}{{ post.shortContent }}{% endblock %}
{% block metatags %}
{% if post.getUser().getGooglePlusLink() %}
<link rel="author" href="{{ post.getUser().getGooglePlusLink() }}/posts"/>
{% endif %}
{% endblock %}

{% block main %}
{% for successMessage in app.session.flashbag.get('success-notice') %}
<div class="alert alert-success">
        {{ successMessage }}
</div>
{% endfor %}
{% for errorMessage in app.session.flashbag.get('error-notice') %}
<div class="alert alert-danger">
        {{ errorMessage }}
</div>
{% endfor %}
    {% if post %}
<article class="post">
    {% if is_granted('ROLE_AUTHOR') %}
    <a href="{{ url('homepage_blog_post_edit',{'link' : post.getLink()}) }}" class="btn btn-default pull-right">Edytuj</a>
     {% endif %}
    <h1>{{ post.getTitle() }}</h1>
    <div class="row post-meta">
        <div class="col-lg-6 col-md-6 col-sm-6 small"><a href="{{ url('homepage_blog_category',{'category' : post.getPostsCategory().getLink()}) }}">{{ post.getPostsCategory().getCategoryName() }}</a></div>
        <div class="col-lg-6 col-md-6 col-sm-6 small text-right"><a class="author" href="{{ url('homepage_blog_user_view',{'login' : post.getUser().getLogin()}) }}" >{{ post.getUser().getNameToShow() }}</a> <time datetime="{{ post.getCreatedOn()|date("Y-m-d H:i")}}">{{ post.getCreatedOn()|localizeddate('medium', 'none', global_locale ) }}</time></div>
    </div>
    <hr />
    <p class="lead">{{ post.getShortContent() }}</p>
    {{ post.getLongContent()|raw }}
</article>
<hr />
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% else %}
<p><a href="{{ url('login') }}">Zaloguj się</a> aby móc dodawać komentarze.</p>
{% endif %}

        {% if comments %}
<hr />
<ul class="comments">
            {% for comment in comments %}
    <li class="comment" id="comment-{{ comment.getId() }}" >
        <article>
            <p><a class="author" href='{{ url('homepage_blog_user_author', {'login' : comment.getUser().getLogin()}) }}'>{{ post.getUser().getNameToShow() }}</a> <time datetime="{{ comment.getCreatedOn()|date("Y-m-d H:i")}}">{{ comment.getCreatedOn()|localizeddate('medium', 'short', global_locale) }}</time></p>
            <p>{{ comment.getContent()|raw }}</p>
            {% endfor %}
        </article>
    </li>
</ul>
        {% endif %}
    {% else %}
<p>Nie ma takiego wpisu!</p>
    {% endif %}
{% endblock %}
